<!-- Custom styles for this template-->
<link href="~/Content/Admin/css/sb-admin-2.min.css" rel="stylesheet">
<link href="~/Assets/css/fontawesome.min.css" rel="stylesheet" type="text/css" />
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="./Home/Index.cshtml">
        <div class="sidebar-brand-icon rotate-n-15">

        </div>
        @*<div class="sidebar-brand-text mx-3 h4">SB Admin <sup>2</sup></div>*@
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active mx-3">
        <a class="nav-link " href="@Url.Action("Index","Home")">
            <span>Dashboard</span>
        </a>
    </li>

    <!-- Divider -->
    <!-- Heading -->
    <!-- Nav Item - Pages Collapse Menu -->
    <!-- Nav Item - Utilities Collapse Menu -->
    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <!-- Nav Item - Pages Collapse Menu -->
    <!-- Nav Item - Charts -->
    <!-- Nav Item - Tables -->
    <li class="nav-item text-lg">
        <a class="nav-link" href="@Url.Action("QLTK","Home")">
            <span>Quản lý tài khoản</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="@Url.Action("QLBV","Home")" data-toggle="collapse" data-target="#collapseTwo"
           aria-expanded="true" aria-controls="collapseTwo">
            <span>Quản lý bài viết</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="@Url.Action("QLBV","Home")">Bài viết</a>
                <a class="collapse-item" href="@Url.Action("QLBVCD","Home")">Bài viết chưa duyệt</a>
            </div>
        </div>
    </li>

    <li class="nav-item text-lg">
        <a class="nav-link" href="@Url.Action("QLBC","Home")">
            @*<i class="fa fa-user"></i>*@
            <span>Quản lý báo cáo</span>
        </a>
    </li>

    <!-- Divider -->
    <!-- Sidebar Message -->


</ul>


<!-- Core plugin JavaScript-->
<!-- Custom scripts for all pages-->
<!-- Page level plugins -->
