
@{
    ViewBag.Title = "QLBVCD";
    var listBVCD = ViewBag.QLBVCD;
}
<div id="Paris" class="tabcontent">
    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Danh sách bài viết</h6>
                <br />
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Tiêu đề</th>
                                <th>Mô tả</th>
                                <th>Ngày đăng</th>
                                <th>Diện tích</th>
                                <th>Phòng ngủ</th>
                                <th>Lầu</th>
                                <th>Nhà tắm</th>
                                <th>Giá</th>
                                <th style="min-width: 95px">Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in listBVCD)
                            {
                                string newdt = item.NgayDang.ToString().Substring(0, 10);
                                string MoTa = item.MoTa.Substring(0, 20) + "...";
                                string TieuDe = item.TieuDe.Substring(0, 15) + "...";
                                <tr>
                                    <td>@(new HtmlString(TieuDe))</td>
                                    <td>@(new HtmlString(MoTa))</td>
                                    <td>@(new HtmlString(newdt))</td>
                                    <td>@item.NhaTro.DienTich</td>
                                    <td>@item.NhaTro.PhongNgu</td>
                                    <td>@item.NhaTro.Lau</td>
                                    <td>@item.NhaTro.NhaTam</td>
                                    <td>@item.NhaTro.Gia</td>
                                    <td>

                                        @Html.ActionLink(
                                        "Xem",
                                        "SuaBaiViet",
                                        "Posts",
                                        new { idBV = item.idBV },
                                        new { @style = "color: white", @class = "btn btn-primary" })

                                        @Html.ActionLink(
                                        "Duyệt",
                                        "DuyetBaiViet",
                                        "Posts",
                                        new { id = item.idBV },
                                        new { @style = "color: white", @class = "btn btn-primary" })

                                        @Html.ActionLink(
                                        "Del",
                                        "XoaBaiViet",
                                        "Posts",
                                        new { id = item.idBV },
                                        //new { idNT = item.idNT},
                                        new { onclick = "return confirm('Bạn có chắc muốn xóa?');", @style = "color: white", @class = "btn btn-danger" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
